//	from https://github.com/mrmrs/colors

$gray: #AAAAAA;
$silver: #DDDDDD;
$green: #2ECC40;
$white: #fff;
$black: #111;
$lime: #01FF70;
$olive: #3D9970;
$yellow: #FFDC00;
$navy: #001f3f;
$blue: #0074D9;
